# Technical-Analysis-Indicators

Code from https://github.com/rebekah999/Technical-Analysis-Indicators repository by Rebekah Fowler

Variable "data" is Five yrs of Daily historical Data from Yahoo Finance in CSV format
data can be downloaded here:
https://finance.yahoo.com/quote/AA/history?period1=1432080000&period2=1589932800&interval=1d&filter=history&frequency=1d

In [1]:
import numpy as np 
import pandas as pd

In [2]:
# File/Data
def dataprep(file):
    df = pd.read_csv(file)
    df["Date"] = pd.to_datetime(df["Date"])
    return df

In [3]:
# macd Indicator
def macd(df, macd1 = 26, macd2 = 12, macd3 = 9):
    macd = pd.DataFrame()
    df_mean = df.iloc[:, [1, 2, 3, 4]].mean(axis = 1)

    macd1_ema = df_mean.ewm(span = macd1, adjust = False).mean()
    macd2_ema = df_mean.ewm(span = macd2, adjust = False).mean()
    macd['MACD Line'] = macd2_ema - macd1_ema
    macd['Signal Line'] = macd[['MACD Line']].ewm(span = macd3, adjust = False).mean()
    macd["Histogram"] = macd['MACD Line'] - macd['Signal Line']
    macd["Date"] = df["Date"]
    return macd

In [4]:
# bb indicator
def bb(df, period = 20, std = 2):
    
    bb = pd.DataFrame()
    df_add = df.loc[:, ["Open", "High", "Low", "Close"]].mean(axis = 1)
    rolling_mean = df_add.rolling(window = period).mean()
    rolling_std = df_add.rolling(window = period).std()
    bb["Upper"] = rolling_mean.add(rolling_std * std)
    bb["Middle"] = rolling_mean
    bb["Lower"] = rolling_mean.subtract(rolling_std * std)
    bb["Date"] = df["Date"]
    return bb

In [5]:
# Heikin-Ashi indicator
def ha(df):
    ha = pd.DataFrame()

    ha["Close"] = (df["Open"] + df["High"] + df["Low"] + df["Close"])/ 4
    ha["Open"]  = ((df["Open"] + df["Close"])/ 2).shift(1)
    ha["High"] = df[["High", "Open", "Close"]].max(axis = 1)
    ha["Low"] = df[["Low", "Open", "Close"]].min(axis = 1)
    ha["Date"] = df["Date"]
    return ha

In [6]:
data = "AAPL5.csv" # Five yrs of Daily historical Data downloaded from Yahoo Finance
df = dataprep(data)

In [7]:
#Call macd function
macd(df, macd1 = 26, macd2 = 12, macd3 = 9).tail()

      MACD Line  Signal Line  Histogram       Date
1255   5.856081     5.701581   0.154500 2018-08-27
1256   5.930311     5.747327   0.182984 2018-08-28
1257   6.077638     5.813389   0.264249 2018-08-29
1258   6.381269     5.926965   0.454304 2018-08-30
1259   6.747262     6.091025   0.656237 2018-08-31

In [8]:
bb(df, period = 20, std = 2).tail()

           Upper      Middle       Lower       Date
1255  222.801461  209.689501  196.577540 2018-08-27
1256  221.441798  211.140751  200.839704 2018-08-28
1257  222.086525  212.219876  202.353227 2018-08-29
1258  223.842698  213.247875  202.653053 2018-08-30
1259  226.158502  214.245000  202.331499 2018-08-31

In [9]:
ha(df).tail()

           Close        Open        High         Low       Date
1255  217.540001  216.380005  218.740005  216.330002 2018-08-27
1256  219.542496  217.544998  220.539993  218.919998 2018-08-28
1257  221.507500  219.354996  223.490005  219.410004 2018-08-29
1258  224.734997  221.564995  228.259995  222.399994 2018-08-30
1259  227.252499  224.140000  228.869995  226.000000 2018-08-31